@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
  font-family: 'Lexend', sans-serif;
}

.select-menu-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: transparent;
}

.select-menu-scrollbar::-webkit-scrollbar-thumb {
  background: #3d3d3d;
  border-radius: 0.375rem;
}

.transparent-scrollbar::-webkit-scrollbar {
  background: transparent;
}

.hidden-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}
